{% extends "main.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
 
</head>
<body>
<table >
    <tr>
        <th><h2>Driver</h2></th>
        <th><h2>Info</h2></th>
    </tr>
    {% for abbr in drivers %}
    <tr>
        <td>
            <h4>{{ drivers[abbr] }}</h4>
        </td>
        <td>
            <a name="driver_id" href="{{ url_for('show_drivers', driver_id = abbr) }}">
                <h4>Statistic</h4></a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
{% endblock content %}